* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.params {
    display: flex;
    flex-direction: column;
    gap: 5px;

    > .param {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5px;

        > div {
            min-width: 200px;
            text-align: center;
        }
    }
}

button {
    width: max-content;
}